.slick-prev:before, .slick-next:before{
    color: gray !important;
    font-size: 3rem !important;
}

.width-item{
    width: 100% !important;
}

.active_Film {
   @apply bg-green-500 text-white;
}

.none_active_Film {
   @apply bg-white text-green-500 border border-green-500;
}